body
{
    width:100%;
    height:100%;
    min-width: 1000px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-image: url("../image/background.jpg");
}

.task
{
    background: url("../image/button_background.jpg") no-repeat;
    width: 600px;
    height:250px;
    margin-left:150px;
    box-shadow: 10px 15px 15px 1px black ;
    position: relative;
}
.task ul li
{
    list-style: none;
    position:absolute;
    display: inline-block;
}
.task ul li img
{
    border-radius: 50% ;
    cursor: pointer;
}
.m1{top:80px; left :35px}
.m2{top:145px; left :115px}
.m3{top:80px; left :215px}
.m4{top:150px; left :305px}
.m5{top:100px; left :395px}
.m6{top:110px; left :510px}

#text
{
    background: antiquewhite;
    width: 1350px;
    height: 1000px;
    opacity: 0.7;
    border-radius: 20px;
    position: absolute;
    top: 400px;
    left: 50px;
}
#text .h1
{
    padding: 20px 80px;
    font-family:  "Lucida Calligraphy", cursive, serif, sans-serif;
    font-size: 2vw;
    text-indent: 40px;
}


